/* 
    Created on : 14 déc. 2022, 08:32:28
    Author     : noah.rousseau
*/

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.jumbotron {
    margin-bottom: 2rem;
    padding: 2rem;
}

.col-md-4:hover {
    -webkit-transform:scale(1.5);
    z-index:99;
}

.text-muted, .card-img-top, .card-text{
    color: red !important;
    font-weight: bold;
}